{% extends 'layout.twig' %}
{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

{% block content %}
  {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    <div class="row">
      <div class="col-md-12">
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-lg btn-block btn-success">Submit Application</button>
      </div>
    </div>
  {{ form_end(form) }}
{% endblock %}
