<!DOCTYPE html>
<html>
<head>
    <title>Apply for Hacklab.TO Membership!</title>
    <link rel="stylesheet" type="text/css" href="{{ app.request.basepath }}/assets/main.css">
</head>
<body>
    {% block content %}
    {% endblock %}

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{ app.request.basepath }}/js/jquery-1.11.2.min.js"><\/script>')</script>
    <script src="{{ app.request.basepath }}/assets/js/main.js"></script>
</body>
</html>
