{% extends 'layout.twig' %}

{% block content %}
  <div class="jumbotron">
    <img src="/assets/img/logo.png" alt="Logo" width="200px">

    <h1>You're good to go!</h1>
    <p class="lead">
      Thanks for applying to become a member. Operations and the membership have been notified and the process is under way.
    </p>
    <p class="lead">
      We suggest you pay your dues now to prevent any hiccups during memberization:
    </p>
    <p><a class="btn btn-lg btn-success" href="https://hacklab.to/membership/dues/" role="button">Take me to the dues page</a></p>

  </div>
{% endblock %}
